<div class='col-12 d-flex flex-row flex-wrap justify-content-between align-content-center mx-2 pr-4'>
  <div class='d-inline-flex pl-0 col-6 align-self-center'>
    <span class="d-inline-block pr-2">
      <input type="text" size="30" pInputText placeholder='Filter by' [(ngModel)]="recipeFilter">
    </span>
    <div class='move-left-clear d-inline-block filters-buttons'>
      <li class="py-1 px-1 nav-item" style="color:#666;">
        <a (click)="setRecipeFilter('')">Clear</a>
      </li>
    </div>
  </div>
  <div class='p-2 d-inline-flex show-hide col-6 justify-content-end'>
    <i [ngClass]="showRecipeInstructions ? 'pi pi-eye-slash' : 'pi pi-eye'" (click)="toggleInstructions()">
      <span *ngIf="showRecipeInstructions; else show">Hide Ingredients</span>
      <ng-template #show>
        <span>Show Ingredients</span>
      </ng-template>
    </i>
  </div>
</div>
<div class='col-12 mx-2'>
  <div class='d-inline-flex flex-wrap'>
      <li class="p-0 nav-item dropdown">
          <a class="pl-2 py-0 nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Sort
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click)="getMostPopularRecipesInfo()">Most Popular</a>
            <a class="dropdown-item" (click)="getLeastPopularRecipesInfo()">Least Popular</a>
            <a class="dropdown-item" (click)="getSortedRecipesInfo()">A-Z</a>
          </div>
        </li>
    <li class='py-0 px-1 nav-item dropdown'>
      <a class='py-0 nav-link dropdown-toggle' href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Protein
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" *ngFor="let protein of proteins" (click)="setRecipeFilter(protein)">{{ protein }}</a>
      </div>
    </li>
    <li class="py-0 px-1 nav-item dropdown">
      <a class="py-0 nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Ethnicity
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" *ngFor="let ethnicity of ethnicities" (click)="setRecipeFilter(ethnicity)">{{ ethnicity }}</a>
      </div>
    </li>
    <li class="py-0 px-1 nav-item dropdown">
      <a class="py-0 nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Season
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" *ngFor="let season of seasons" (click)="setRecipeFilter(season)">{{ season }}</a>
      </div>
    </li>
    <li class="py-0 ml-2 nav-item">
      <a (click)="setRecipeFilter('breakfast')">Breakfast</a>
    </li>
  </div>
</div>
<div  class='row-wrap col-12'>
  <ng-container *ngFor="let recipe of filteredRecipes">
    <div class='card-container p-2 col-lg-3 col-md-4 col-sm-6 col-xs-12'>
      <app-recipes [recipe]='recipe' [showInstructions]="showRecipeInstructions"></app-recipes>
    </div>
  </ng-container>
</div>