p-header h3 {
    background-image: linear-gradient(#eee, #fff);
    width: 100%;
}

.row-wrap {
    display: flex;
    flex-flow: row wrap;
}

.column-wrap {
    display: flex;
    flex-flow: column;
}

.ui-card-footer {
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
}

.header-container {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    background-image: linear-gradient(#eee, #fff);
}

.right {
    text-align: right;
} 

.quick-buttons {
    display: flex;
    button {
        background-color: transparent;
        border: none;
    }
    i{
        position: relative;
        top: 3px;
    }
}

.card-img-top {
    max-height: 262px;
}

.show-hide > i {
    position: relative;
    top: 3px;
    span {
        position: relative;
        top: -3px;
    }
    
}

li {
    padding: 1rem;
    display: inline-block;
    border: none;
    &:hover{
        color: #333;
    }
}

a {
    color: #333;
    text-decoration: none;
    &:hover {
        color: #333;
        cursor: pointer;
    }
}

div.move-left-clear, div.move-left {
    position: relative;
    right: 60px;
}

@media only screen and (max-width: 1203px) {
    div.move-left {
        position: relative;
        right: 0;
        width: 100%;
    }

}

