<p-dialog class='p-0' [(visible)]='display' [width]='600' [modal]='true' [blockScroll]='true' [showHeader]='false'
  [responsive]='true' [dismissableMask]='true' [focusOnShow]='false' [contentStyle]="{'padding':'0'}">
  <p-card>
    <p-header class='ui-card-header'>
      <div class='header-container border-bottom'>
        <h3 class='ui-card-title p-3 m-0 ml-2'>{{ title }}</h3>
      </div>
      <img class='card-img-top rounded-0' src="{{ image }}">
    </p-header>
    <div class='card-body ui-card-content'>
      <div class='float-left'>
        <h4>Ingredients</h4>
        <ul>
          <li *ngFor="let items of grocery_items">{{ items.amount }} {{ items.ingredient }}</li>
        </ul>
      </div>
      <div class='float-right'>
        <em>Prep Time: {{ prep_time }} <br />
          Cook Time: {{ cook_time }}</em>
      </div>
      <hr>
      <h4>Instructions</h4>
      <ol>
        <li *ngFor="let steps of directions">{{ steps }}</li>
      </ol>
    </div>
  </p-card>
</p-dialog>
<span (click)="showModal()">Read More</span>