<p-dialog class='p-0' [(visible)]='display' [width]='600' [modal]='true' [blockScroll]='true' [showHeader]='false' [responsive]='true' [dismissableMask]='true' [focusOnShow]='false' [contentStyle]="{'padding':'0'}">
  <p-card >
    <p-header class='ui-card-header'>
      <div class='header-container'>
        <h3 class='ui-card-title p-3 m-0 ml-2 border-bottom'>Pho</h3>
        <div class='right quick-buttons border-bottom'>
          <button><i class='pi pi-minus'></i></button>
          <button class='mr-2'><i class='pi pi-plus'></i></button>
        </div>
      </div>
      <img class='card-img-top rounded-0' src="https://images.unsplash.com/photo-1503764654157-72d979d9af2f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=71cdddf5cc615224cf2c26614d20154d&auto=format&fit=crop&w=1353&q=80">
    </p-header>
    <div class='card-body ui-card-content'>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in ipsum molestie, egestas nisi vel,
      sollicitudin tortor. Nullam auctor vestibulum odio eget posuere. Etiam ut nibh efficitur, aliquet nulla ac,
      fringilla ex.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in ipsum molestie, egestas nisi vel,
      sollicitudin tortor. Nullam auctor vestibulum odio eget posuere. Etiam ut nibh efficitur, aliquet nulla ac,
      fringilla ex.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in ipsum molestie, egestas nisi vel,
      sollicitudin tortor. Nullam auctor vestibulum odio eget posuere. Etiam ut nibh efficitur, aliquet nulla ac,
      fringilla ex.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in ipsum molestie, egestas nisi vel,
      sollicitudin tortor. Nullam auctor vestibulum odio eget posuere. Etiam ut nibh efficitur, aliquet nulla ac,
      fringilla ex.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in ipsum molestie, egestas nisi vel,
      sollicitudin tortor. Nullam auctor vestibulum odio eget posuere. Etiam ut nibh efficitur, aliquet nulla ac,
      fringilla ex.
    </div>
  </p-card>
</p-dialog>
<span (click)="showModal()">Read More</span>