<div class='col-12 row '>
  <div class='col-md-2 ml-2'>Filter by:</div>
  <div class='col-md-4'>
    <input type='text' class='ui-widget-shadow rounded w-100'/>
  </div>
  <div><i class='pi pi-eye text-right col-6' *ngIf="!showRecipeInstructions" (click)="toggleRecipeInstructions()"></i>
    <i class='pi pi-eye-slash text-right col-6' *ngIf="showRecipeInstructions" (click)="toggleRecipeInstructions()"></i></div>
</div>
<div class='container col-12'>
  <ng-container *ngFor="let recipe of recipes">
    <div class='card-container p-2 col-md-4 col-sm-6 col-xs-12'>
      <app-recipes [recipe]='recipe'></app-recipes>
    </div>
  </ng-container>
  <!-- <ng-container>
    <div class='card-container p-2 col-md-4 col-sm-6 col-xs-12'>
      <p-card>
        <p-header class='ui-card-header'>
          <div class='header-container'>
            <h3 class='ui-card-title p-3 m-0 border-bottom'>Pho</h3>
            <div class='right quick-buttons border-bottom'>
              <button><i class='pi pi-minus'></i></button>
              <button class='mr-2'><i class='pi pi-plus'></i></button>
            </div>
          </div>
          <img class='card-img-top rounded-0' src="https://images.unsplash.com/photo-1503764654157-72d979d9af2f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=71cdddf5cc615224cf2c26614d20154d&auto=format&fit=crop&w=1353&q=80">
        </p-header>
        <div class='card-body ui-card-content'>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in ipsum molestie, egestas nisi vel,
          sollicitudin tortor. Nullam auctor vestibulum odio eget posuere. Etiam ut nibh efficitur, aliquet nulla ac,
          fringilla ex.
        </div>
        <div class='ui-card-footer m-0 border-top'>
          <button pButton type="button" icon="pi pi-plus" label="Menu" class="ui-button-rounded"></button>
          <button pButton type="button" icon="pi pi-minus" label="Menu" class="ui-button-rounded ui-button-secondary"></button>
        </div>
      </p-card>
    </div>
  </ng-container>
  <ng-container>
    <div class='card-container p-2 col-md-4 col-sm-6 col-xs-12'>
      <p-card>
        <p-header class='ui-card-header'>
          <div class='header-container'>
            <h3 class='ui-card-title p-3 m-0 border-bottom'>Paella</h3>
            <div class='right quick-buttons border-bottom'>
              <button><i class='pi pi-minus'></i></button>
              <button class='mr-2'><i class='pi pi-plus'></i></button>
            </div>
          </div>
          <img class='card-img-top rounded-0' src="https://images.unsplash.com/photo-1453831362806-3d5577f014a4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9dd8da96be0724ab84e4147d428f6bba&auto=format&fit=crop&w=1338&q=80">
        </p-header>
        <div class='card-body ui-card-content'>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in ipsum molestie, egestas nisi vel,
          sollicitudin tortor. Nullam auctor vestibulum odio eget posuere. Etiam ut nibh efficitur, aliquet nulla ac,
          fringilla ex.
        </div>
        <div class='ui-card-footer m-0 border-top'>
          <button pButton type="button" icon="pi pi-plus" label="Menu" class="ui-button-rounded"></button>
          <button pButton type="button" icon="pi pi-minus" label="Menu" class="ui-button-rounded ui-button-secondary"></button>
        </div>
      </p-card>
    </div>
  </ng-container>
  <ng-container>
    <div class='card-container p-2 col-md-4 col-sm-6 col-xs-12'>
      <p-card>
        <p-header class='ui-card-header'>
          <div class='header-container'>
            <h3 class='ui-card-title p-3 m-0 border-bottom'>Salmon</h3>
            <div class='right quick-buttons border-bottom'>
              <button><i class='pi pi-minus'></i></button>
              <button class='mr-2'><i class='pi pi-plus'></i></button>
            </div>
          </div>
          <img class='card-img-top rounded-0' src="https://images.unsplash.com/photo-1532597311687-5c2dc87fff52?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5f766ceea9ba1bd2750910e70a94f91e&auto=format&fit=crop&w=1350&q=80">
        </p-header>
        <div class='card-body ui-card-content'>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in ipsum molestie, egestas nisi vel,
          sollicitudin tortor. Nullam auctor vestibulum odio eget posuere. Etiam ut nibh efficitur, aliquet nulla ac,
          fringilla ex.
        </div>
        <div class='ui-card-footer m-0 border-top'>
          <button pButton type="button" icon="pi pi-plus" label="Menu" class="ui-button-rounded"></button>
          <button pButton type="button" icon="pi pi-minus" label="Menu" class="ui-button-rounded ui-button-secondary"></button>
        </div>
      </p-card>
    </div>
  </ng-container>
  <ng-container>
    <div class='card-container p-2 col-md-4 col-sm-6 col-xs-12'>
      <p-card>
        <p-header class='ui-card-header'>
          <div class='header-container'>
            <h3 class='ui-card-title p-3 m-0 border-bottom'>Steak</h3>
            <div class='right quick-buttons border-bottom'>
              <button><i class='pi pi-minus'></i></button>
              <button class='mr-2'><i class='pi pi-plus'></i></button>
            </div>
          </div>
          <img class='card-img-top rounded-0' src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=67fb2e7b1fbe39b18b51146234ef38aa&auto=format&fit=crop&w=2550&q=80">
        </p-header>
        <div class='card-body ui-card-content'>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in ipsum molestie, egestas nisi vel,
          sollicitudin tortor. Nullam auctor vestibulum odio eget posuere. Etiam ut nibh efficitur, aliquet nulla ac,
          fringilla ex.
        </div>
        <div class='ui-card-footer m-0 border-top'>
          <button pButton type="button" icon="pi pi-plus" label="Menu" class="ui-button-rounded"></button>
          <button pButton type="button" icon="pi pi-minus" label="Menu" class="ui-button-rounded ui-button-secondary"></button>
        </div>
      </p-card>
    </div>
  </ng-container>
  <ng-container>
    <div class='card-container p-2 col-md-4 col-sm-6 col-xs-12'>
      <p-card>
        <p-header class='ui-card-header'>
          <div class='header-container'>
            <h3 class='ui-card-title p-3 m-0 border-bottom'>Grilled Cheese</h3>
            <div class='right quick-buttons border-bottom'>
              <button><i class='pi pi-minus'></i></button>
              <button class='mr-2'><i class='pi pi-plus'></i></button>
            </div>
          </div>
          <img class='card-img-top rounded-0' src="https://images.unsplash.com/photo-1480603956404-cf57f7ee5f28?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ae37e2254950479f153bfcaf0009dd54&auto=format&fit=crop&w=2533&q=80">
        </p-header>
        <div class='card-body ui-card-content'>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in ipsum molestie, egestas nisi vel,
          sollicitudin tortor. Nullam auctor vestibulum odio eget posuere. Etiam ut nibh efficitur, aliquet nulla ac,
          fringilla ex.
        </div>
        <div class='ui-card-footer m-0 border-top'>
          <button pButton type="button" icon="pi pi-plus" label="Menu" class="ui-button-rounded"></button>
          <button pButton type="button" icon="pi pi-minus" label="Menu" class="ui-button-rounded ui-button-secondary"></button>
        </div>
      </p-card>
    </div>
  </ng-container>
  <ng-container>
    <div class='card-container p-2 col-md-4 col-sm-6 col-xs-12'>
      <p-card>
        <p-header class='ui-card-header'>
          <div class='header-container'>
            <h3 class='ui-card-title p-3 m-0 border-bottom'>Paella</h3>
            <div class='right quick-buttons border-bottom'>
              <button><i class='pi pi-minus'></i></button>
              <button class='mr-2'><i class='pi pi-plus'></i></button>
            </div>
          </div>
          <img class='card-img-top rounded-0' src="https://images.unsplash.com/photo-1453831362806-3d5577f014a4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9dd8da96be0724ab84e4147d428f6bba&auto=format&fit=crop&w=1338&q=80">
        </p-header>
        <div class='card-body ui-card-content'>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in ipsum molestie, egestas nisi vel,
          sollicitudin tortor. Nullam auctor vestibulum odio eget posuere. Etiam ut nibh efficitur, aliquet nulla ac,
          fringilla ex.
        </div>
        <div class='ui-card-footer m-0 border-top'>
          <button pButton type="button" icon="pi pi-plus" label="Menu" class="ui-button-rounded"></button>
          <button pButton type="button" icon="pi pi-minus" label="Menu" class="ui-button-rounded ui-button-secondary"></button>
        </div>
      </p-card>
    </div>
  </ng-container>
  <ng-container>
    <div class='card-container p-2 col-md-4 col-sm-6 col-xs-12'>
      <p-card>
        <p-header class='ui-card-header'>
          <div class='header-container'>
            <h3 class='ui-card-title p-3 m-0 border-bottom'>Pho</h3>
            <div class='right quick-buttons border-bottom'>
              <button><i class='pi pi-minus'></i></button>
              <button class='mr-2'><i class='pi pi-plus'></i></button>
            </div>
          </div>
          <img class='card-img-top rounded-0' src="https://images.unsplash.com/photo-1503764654157-72d979d9af2f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=71cdddf5cc615224cf2c26614d20154d&auto=format&fit=crop&w=1353&q=80">
        </p-header>
        <div class='card-body ui-card-content'>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in ipsum molestie, egestas nisi vel,
          sollicitudin tortor. Nullam auctor vestibulum odio eget posuere. Etiam ut nibh efficitur, aliquet nulla ac,
          fringilla ex.
        </div>
        <div class='ui-card-footer m-0 border-top'>
          <button pButton type="button" icon="pi pi-plus" label="Menu" class="ui-button-rounded"></button>
          <button pButton type="button" icon="pi pi-minus" label="Menu" class="ui-button-rounded ui-button-secondary"></button>
        </div>
      </p-card>
    </div>
  </ng-container>-->
</div> 
