<div class="d-flex justify-content-around main">
  <div class="form-container container-fluid">
    <form class='go-right ml-5 float-left' [formGroup]="addRecipeForm">
        <p-selectButton class="ui-button-rounded mt-2 px-1" [options]="formPages" formControlName="selectedPage"></p-selectButton>
      <h2>Add Your Recipe</h2>
      <ng-container *ngIf="selectedFormPage === 'Basics'">
      <div>
        <input class='w-100' id="title" type='text' formControlName='title' placeholder='(Lasagna)' required>
        <label for="title">Recipe Title</label>
      </div>
      <div>
        <input class='w-100' id="prep_time" type='text' formControlName='prep_time' placeholder='(25 mins)' required>
        <label for="prep_time">Prep Time</label>
      </div>
      <div>
        <input class='w-100' id="cook_time" type='text' formControlName='cook_time' placeholder='(90 mins)' required>
        <label for="cook_time">Cook Time</label>
      </div>
      <div>
        <input class='w-100' id="protein" type='text' formControlName='protein' placeholder='(chicken) or (chicken beef) for mulitple options'
          required>
        <label for="protein">Protein</label>
      </div>
      <div>
        <input class='w-100' id="ethnicity" type='text' formControlName='ethnicity' placeholder='(italian)' required>
        <label for="ethnicity">Ethnicity</label>
      </div>
      <div>
        <input class='w-100' id="season" type='text' formControlName='season' placeholder='(summer) or (spring fall) for multiple options'
          required>
        <label for="season">Season</label>
      </div>
      <div>
        <input class='w-100' id="servings" type='text' formControlName='servings' placeholder='(8)' required>
        <label for="servings">Servings</label>
      </div>
    </ng-container>
    <ng-container *ngIf="selectedFormPage === 'Ingredients'">
      <div formArrayName="grocery_items">
        <h4 class="mt-2">Ingredients</h4>
        <div class="d-flex">
          <div class="w-25 mr-2">
            <span>Amount</span>
          </div>
          <div class="w-50">
            <span>Ingredient</span>
          </div>
        </div>
        <div *ngFor="let item of addRecipeForm.get('grocery_items').controls; let i=index">
          <div class="d-flex" [formGroupName]="i">
            <div class="w-25 mr-2">
              <input class="w-100" id="amount-i" type="text" formControlName="amount" placeholder='(2 lbs or 1 tsp)'>
            </div>
            <div class="w-50">
              <input class="w-100" type="text" formControlName="ingredient" placeholder='(chicken breast)'>
            </div>
            <i class="pi pi-times ml-1 align-middle" (click)="removeItem(i)"></i>
          </div>
        </div>
        <button pButton type="button" class="ui-button-rounded mt-2 px-1" label="Add Item" (click)="addItems()"></button>
      </div>
    </ng-container>
    <ng-container *ngIf="selectedFormPage === 'Instructions'">
      <div formArrayName="directions">
        <h4 class="mt-2">Instructions</h4>
        <div *ngFor="let step of addRecipeForm.get('directions').controls; let i=index">
          <div class="d-flex" [formGroupName]="i">
            <div class="w-100">
              <input class="w-100" id="step-i" type="text" formControlName="step" placeholder='(Preheat oven to 350&deg;.)'>
            </div>
            <i class="pi pi-times ml-1 align-middle" (click)="removeStep(i)"></i>
          </div>
        </div>
        <button pButton type="button" class="ui-button-rounded mt-2 px-1" label="Add Step" (click)="addSteps()"></button>
      </div>
    </ng-container>
    </form>
  </div>

  <div class='card-container p-2 mr-5 mt-3 ml-2 sticky'>
    <p-card>
      <p-header class='ui-card-header'>
        <div class='header-container border-bottom'>
          <h3 class='ui-card-title p-3 m-0 ml-2'>{{ title ? title : '(Your Recipe Title)' }}</h3>
        </div>
        <img class='card-img-top rounded-0' src="{{ image }}">
      </p-header>
      <div class='card-body ui-card-content'>
        <div class='float-left'>
          <h4>Ingredients</h4>
          <ul>
            <li *ngFor="let items of groceries">{{ items.amount }} {{ items.ingredient }}</li>
          </ul>
        </div>
        <div class='float-right right mb-3'>
          <em>Prep Time: {{ prep_time }} <br />
            Cook Time: {{ cook_time }}<br />
          </em>
        </div>
        <hr>
        <h4>Instructions</h4>
        <ol>
          <li *ngFor="let steps of instructions">{{ steps.step }}</li>
        </ol>
      </div>
    </p-card>
  </div>
</div>