<div class='shadow p-3 mb-3 bg-white rounded sticky'>
    <app-sidebar></app-sidebar>
  <nav class='container-fluid col-12'>
    <div class='row col-lg-10 d-inline-block'>
      <a class='p-0' href='/recipes'>Recipes</a>
      <a class='p-0' href='/menu'>Menu</a>
      <img class='col-2 my-1' src='../../../assets/images/WhatsForDInnerLogo.png' />
      <a class='p-0 align-middle' href='/grocery-list'>Grocery<br/>List</a>
      <a class='p-0 align-middle' href='/add-recipe'>Add<br/>Recipe</a>
    </div>
  </nav>
</div>
<app-toast class="rounded"></app-toast>
<app-toast key='c' class="rounded"></app-toast>