<div class='shadow p-3 mb-3 bg-white rounded sticky'>
    <app-sidebar></app-sidebar>
  <nav class='container-fluid col-12'>
    <div class='row col-lg-8 d-inline-block'>
      <a class='col-2 m-l-3 m-md-2' href='#'>Home</a>
      <a class='col-2 m-l-3 m-md-2' href='/grocery-list'>Grocery List</a>
      <img class='col-4 m-l-3 m-md-2' src='../../../assets/images/WhatsForDInnerLogo.png' />
      <a class='col-2 m-l-3 m-md-2' href='/calendar'>Calendar</a>
      <a class='col-2 m-l-3 m-md-2 pr-3' href='/recipes'>Recipes</a>
    </div>
  </nav>
</div>