<p-card>
  <p-header class='ui-card-header'>
    <div class='header-container border-bottom'>
      <h3 class='ui-card-title p-3 m-0'>{{ recipe.title }}</h3>
      <div class='right quick-buttons'>
        <button class='mr-2' *ngIf="!recipe.isAddedToMenu && !isAdded" (click)='handleAddRecipeToMenu(recipe)'>
          <i class='pi pi-plus'></i>
        </button>
        <button class='mr-2' *ngIf="recipe.isAddedToMenu || isAdded">
          <i class='pi pi-check-circle check'></i>
        </button>
      </div>
    </div>
    <div class='img-container'>
      <img class='card-img-top rounded-0' src="{{ recipe.image }}">
    </div>
  </p-header>
  <div class='text-left'>
    <app-recipes-modal [recipe]="recipe"></app-recipes-modal>
  </div>
  <div *ngIf="showInstructions" class='card-body ui-card-content' >
    <ul>
      <li *ngFor="let items of recipe.grocery_items">{{ items.amount }} {{ items.ingredient }}</li>
    </ul>
  </div>
  <div class='ui-card-footer m-0 border-top'>
    <button pButton type="button" *ngIf="!recipe.isAddedToMenu && !isAdded" icon="pi pi-plus" label="Menu" class="ui-button-rounded px-3" (click)='addToThisWeekMenu(recipe); addItemsToGroceryList(recipe.grocery_items); markAsAddedToMenu(recipe.id)'></button>
    <button pButton type="button" *ngIf="recipe.isAddedToMenu || isAdded" icon="pi pi-check" label="Added" class="ui-button-rounded px-3"></button>
  </div>
</p-card>