ul {
    
    list-style-position: outside;
    padding-left: 0;
    font-size: 1rem;
    max-width: 650px
}

button {
    background-color: #000 !important;
    border-color: #ddd; 
    :focus {
        outline-color: #999;
    }
}

li {
    padding: 1rem;
    &:hover{
        background-color: #eee;
        color: #333;
    }
}

p-header {
    background-image: linear-gradient(#eee, #fff);
    width: 100%;
}
button:active {
    position: relative;
    top: 1px;
}

a {
    color: #333;
    text-decoration: none;
    &:hover {
        color: #333;
        cursor: pointer;
    }
}
h2 {
    background-color: #fff;
    position: sticky;
    top: 0;
}

@media only screen and (max-width: 420px) {
    h2 {
        font-size: 20px
    }
}