h2 {
    color: #666;
    &.black {
        color: #333;
    }
}

.header-container {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    background-image: linear-gradient(#eee, #fff);
}

button {
    background-color: #000 !important;
    border-color: #ddd; 
    :focus {
        outline-color: #999;
    }
}

