:host ::ng-deep {
    p-card > div > div.ui-card-body > div > div.ui-card-footer.m-0.border-top > button {
        background-color: #000 !important;
        border-color: #ddd; 
        :focus {
            outline-color: #999;
        }
    }

    button:focus {
        outline: none !important;
    }
}

button:active {
    position: relative;
    top: 1px;
} 

p-header h3 {
    background-image: linear-gradient(#eee, #fff);
    width: 100%;
}

.container {
    display: flex;
    flex-flow: row wrap;
}

.ui-card-footer {
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
}

.header-container {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    background-image: linear-gradient(#eee, #fff);
}

.right {
    text-align: right;
} 

.quick-buttons {
    display: flex;
    button {
        background-color: transparent;
        border: none;
    }
    i{
        position: relative;
        top: 3px;
    }
}

ol {
    padding-left: 20px;
}

.check {
    font-size: 30px;
    position: relative;
    left: 8px;
}