<p-card>
    <p-header class='ui-card-header'>
      <div class='header-container border-bottom'>
        <h3 class='ui-card-title p-3 m-0'>{{ recipe.title }}</h3>
        <div class='right quick-buttons'>
          <button class='mr-2' (click)='addToThisWeekMenu(recipe); addItemsToGroceryList(recipe.grocery_items)'><i class='pi pi-plus'></i></button>
        </div>
      </div>
      <div class='img-container'>
        <img class='card-img-top rounded-0' src="{{ recipe.image }}">
      </div>
    </p-header>
    <div class='text-left'>
      <app-recipes-modal 
      [title]="recipe.title" 
      [image]="recipe.image" 
      [grocery_items]="recipe.grocery_items" 
      [directions]='recipe.directions'
      [cook_time]='recipe.cook_time'
      [prep_time]='recipe.prep_time'></app-recipes-modal>
    </div>
    <div class='card-body ui-card-content' *ngIf="showInstructions">
      <ul>
        <li *ngFor="let items of recipe.grocery_items">{{ items.amount }} {{ items.ingredient }}</li>
      </ul>
    </div>
    <div class='ui-card-footer m-0 border-top'>
      <button pButton type="button" icon="pi pi-plus" label="Menu" class="ui-button-rounded px-3" (click)='addToThisWeekMenu(recipe); addItemsToGroceryList(recipe.id)'></button>
    </div>
  </p-card>