<p-card>
    <p-header class='ui-card-header'>
      <div class='header-container'>
        <h3 class='ui-card-title p-3 m-0 border-bottom'>{{ recipe.title }}</h3>
        <div class='right quick-buttons border-bottom'>
          <button class='mr-2'><i class='pi pi-plus'></i></button>
        </div>
      </div>
      <div class='img-container'>
        <img class='card-img-top rounded-0' src="{{ recipe.image }}">
      </div>
    </p-header>
    <div class='text-right'>
      <app-recipes-modal></app-recipes-modal>
    </div>
    <div class='card-body ui-card-content' *ngIf="showInstructions">
      <ul>
        <li *ngFor="let items of recipe.grocery_items">{{ items.amount }} {{ items.ingredient }}</li>
      </ul>
      <br/>
      <ol>
        <li *ngFor="let steps of recipe.directions">{{ steps }}</li>
      </ol>
    </div>
    <div class='ui-card-footer m-0 border-top'>
      <button pButton type="button" icon="pi pi-plus" label="Menu" class="ui-button-rounded px-3"></button>
    </div>
  </p-card>