/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Didot', Helvetica, serif
}

body div.ui-widget-overlay.ui-sidebar-mask {
    display: none !important;
}

.ui-toast-message-text-content {
    font-weight: bold;
    font-size: 16px;
}
div.ui-toast-summary {
    margin-top: 10px;
}
div.ui-toast-details {
    margin-bottom: 15px;
}