div.ui-dialog.ui-dialog-content {
    padding: 0 !important;
    border: 0 !important;
}

.ui-card-footer {
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
}

.header-container {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    background-image: linear-gradient(#eee, #fff);
    position: sticky;
    top: 0;
}

hr {
    clear: both;
}

.right {
    text-align: right;
} 

.quick-buttons {
    display: flex;
    button {
        background-color: transparent;
        border: none;
        :active {
            position: relative;
            top: 4px;
        }
    }
    i{
        position: relative;
        top: 3px;
        font-size: 24px;
    }
}

span {
    text-decoration: underline;
    text-align: right;
    cursor: pointer;
}

.no-padding-600 {
    padding: 0 !important;
    max-width: 600px !important;
}

ol {
    padding-left: 20px;
}